{{extend 'layout.html'}}
{{include 'web2py_ajax.html'}}
<!-- <script type="text/javascript" src="../static/js/jquery.js"></script> -->
<!-- <script type="text/javascript" src="../static/js/fancybox.js"></script> -->

<!-- <link href="../static/css/fancybox.css" rel="stylesheet" type="text/css"> -->
<!-- <script type="text/javascript"> -->
<!--     $(document).ready(function(){   -->
<!-- 	$('.string').fancybox({ -->
<!-- 	    width:'98%', -->
<!-- 	    height:'98%', -->
<!-- 	}); //end iframe -->
<!--     }); //end ready -->
<!-- </script> -->

{{=dialog}}
